# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Local Environment Variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js
/.next/
/out/

# VSCode
/.vscode/

# Turborepo
.turbo

# IDEs and editors
*.code-workspace
.idea
*.sublime-project
*.sublime-workspace

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Test outputs
/coverage
junit.xml
TESTS-*.xml

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Optional Prettier cache
.prettiercache

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env*.local
!.env.example

# mkcert
*_key.pem
*.pem

# Firebase
firebase-debug.log
firebase-debug.*.log
firestore-debug.log
firestore-debug.*.log

# dotenv
.env
